<div class="container">
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Blocitoff creates handy To-Do complete with expiration dates!</p>
  <button type="button" class="btn btn-default btn-lg"><%= link_to "Sign Up", new_user_registration_path, :class => 'button-link'  %></button>
  <button type="button" class="btn btn-default btn-lg"><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %></button>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Make life easier with your own To-Do List.</h2>
    <p>The days of missing trash pickup are over!</p>
  </div>
  <div class="col-md-6">
    <h2>Challenge yourself to do more with your day.</h2>
    <p>Set a time limit or expiration date for each of your list items.</p>
  </div>
</div>
</div>
