<li class="list-group-item">
  <span class="badge"> <%= distance_of_time_in_words(item.created_at, Time.now - 10.days)  %>  </span><%= item.name %><span> <%= link_to "", item, remote: true, method: :delete, class: 'glyphicon glyphicon-ok' %>
</li>
