$("#to-do-list").append("<li id="to-do-item" class="<%= 'list-group-item-danger' if distance_of_time_in_words(item.created_at, Time.now - 10.days).split(" ").first.to_i <= 3 %> list-group-item ">
  <span class="badge"> <%= distance_of_time_in_words(item.created_at, Time.now - 10.days) + " left"  %>  </span><%= item.name %><span> <%= link_to "", item, remote: true, method: :delete, class: 'glyphicon glyphicon-ok' %>
</li>");
